@import url('https://fonts.googleapis.com/css?family=Warnes&display=swap');


.check {
    position: relative;
    left: 0px;
    transform: all 0.3s ease;
}

.Wrapper{
    min-height: 85vh;
    min-width: 45vmax;
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #3B3B3B;
}

.title{
    font-size: 0.8em;
    font-weight: 400;
}

.Banner{
    font-family: 'Warnes', cursive;
    font-weight: 700;
}

.sizer{
    min-width: 95%;
}

.method{
    min-width: 45%;
}
