.R_Wrapper{
    min-height: 85vh;
    min-width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

   /*  background-image: url("../../public/question.jpg");

    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%; */

}